.header{
    background-color: #000407;
    color: #3289C2;
    
}
.container{
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
}
.navbar a{
    text-decoration: none;
    color: aqua;
}